@page "/match"
@inject MatchService _Service

<div>
    <MudText Typo="Typo.h4" Align="Align.Center"  Class="p-5">구역 팀 배정</MudText>
    @if(places is not null)
    {
        @foreach (Place place in places)
        {
            <MudPaper Class="ma-4 d-flex justify-content-evenly align-content-center gap-3 flex-wrap p-3" Elevation="3">
                <div class="d-flex justify-content-evenly gap-5 flex-wrap">
                    <MudColorPicker Label="색상선택" @bind-Text="@place.Color" Style="@($"color: {place!.Color};")" Placeholder="색상 선택" />
                    <MudTextField T="string" @bind-Value="place.Name" Immediate="true" Label="구역 입력" />
                    <CountButton @bind-Count="place.MaxTeam" LabelText="숫자만 입력" AdornmentText="구역 팀 수" />
                </div>
        </MudPaper>
        }
    }
    <div class="m-3">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" FullWidth="true" OnClick="Add">새로운 구역 장소 추가하기</MudButton>
        <MudButton Class="mt-3" Variant="Variant.Filled" Color="Color.Success" FullWidth="true" Href="matchpeople" OnClick="Save">봉사자 체크하기</MudButton>
    </div>
        
</div>

@code {
    private List<Place>? places;

    protected override void OnInitialized()
    {
        places = _Service.GetInitPlace();
    }

    private void Add()
    {
        places!.Add(new Place());
    }

    private void Save()
    {
        _Service.Places = places;
    }
}

