<section class="mt-5 d-flex flex-column gap-4">
    <SfButton CssClass="e-success py-3 w-100" Content="10시-12시"></SfButton>
    <SfButton CssClass="e-success py-3 w-100" Content="12시-2시"></SfButton>
    <SfButton CssClass="e-success py-3 w-100" Content="2시-4시"></SfButton>
    <SfButton CssClass="e-success py-3 w-100" Content="4시-6시"></SfButton>
</section>


@code {

}
