<div class="d-flex justify-content-between align-items-center w-100 h-25">
    <SfButton CssClass="e-link" IconCss="e-icons e-chevron-left"></SfButton>
    <div class="d-flex align-items-center">
        <p class="fs-5">10월 5일 목요일</p>
        <SfButton CssClass="e-link" IconCss="e-icons e-month"></SfButton>
    </div>
    <SfButton CssClass="e-link" IconCss="e-icons e-chevron-right"></SfButton>
</div>