<div class="d-flex justify-content-evenly gap-5 flex-wrap">
    <MudColorPicker Label="색상선택" @bind-Text="@MyPlace.Color" Style="@($"color: {MyPlace!.Color};")" Placeholder="색상 선택" />
    <MudTextField T="string" @bind-Value="MyPlace.Name" Immediate="true" Label="구역 입력"/>
    <CountButton @bind-Count="MyPlace.MaxTeam" LabelText="숫자만 입력" AdornmentText="구역 팀 수"/>
</div>


@code {
    [Parameter]
    public Place? MyPlace { get; set; }

    [Parameter]
    public EventCallback<Place> MyPlaceChanged { get; set; }
}